.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  letter-spacing: 2.5px;
  text-align: center;
  margin-top: 20px;
  color: #19345e;
}

.bgImg {
  background: url(../Assets/bg-img\ 1.png);
}
