.card{
    width: 200px;
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
    margin: 10px;
    display: inline-block;
}

.avatar{
    width: 100%;
    height: 200px;
}

.cardContent{
    padding: 5px 10px;
}